@import "tailwindcss";
@import "./utilities.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-title: "Carattere", sans-serif;
    --font-body: "Poppins", sans-serif;

    /*Base*/
    --color-darkPink: #f2bdd3;
    --color-darkGray: #535353;
    --color-lightGray: #9e9e9e;

    --color-bgGray: #f2f2f2;
    --color-bgPink: #fff3f8;
    --color-bgLightGray: #fafafa;
    --color-bgDarkGray: #c7c7c7;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light dark;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-body);
    background-color: var(--color-bgGray);
    color: var(--color-darkGray);
    font-size: 14px;
    overflow-x: hidden;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

