@layer utilities {
    .tabtext {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .tabtextDesktop {
        writing-mode: sideways-lr;
        transform: none;
    }

    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
